.mainList{
    width: 50%;
    margin: 2% 0 0 25%;
}
.mainList > div{
    display: flex;
    background-color: gainsboro;
}

li{
    width: 77%;
    padding: 10px;
    text-align: left;
    border: none;
}

.mainList button{
    min-width: 10%;
    margin-top: 3px;
}